<!-- ####### FITNESS LIBRARY MANAGEMENT SYSTEM #######
#################################################### -->

{% extends "base.html" %}
{% block title %}
    Fitness Management System
{% endblock %}
{% block content %}
<!-- code in here to display the landing page of the application-->
<div class="d-flex aligns-items-center justify-content-center" style="margin: 50px 50px 250px;">
<div class="login "> 
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <div class="flash mt-3 d-flex aligns-items-center justify-content-center">{{ error }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>      
</div>
</div>
{% endblock %}