<!-- ####### FITNESS MANAGEMENT SYSTEM #######
#################################################### -->

{% extends "base.html" %}
{% block title %}
    My Class List
{% endblock %}
{% block content %}
<!-- code in here to display a list of members-->
<div style="margin: 50px 50px 250px;">
    <div>
        <div class="col-auto">
            <h5>My Classes</h2>
        </div>
        <div class="row col-12">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
                {% for class in classlist %}
                    <tr>
                        <td>{{class[1]}}</td>
                        <td>{{class[2]}}</td>
                        <td>{{class[3]}}</td>
                        <td>{{class[4]}}</td>
                        <td>{{class[5]}}</td>
                        <td>
                            <form method="post" action="/cancelclass">
                                <input type="hidden" name="classid" value="{{class[0]}}">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}