 <!-- ####### FITNESS MANAGEMENT SYSTEM #######
#################################################### -->

{% extends "base.html" %}
{% block title %}
    Payment History
{% endblock %}
{% block content %}
<!-- code in here to display a list of members-->
<div style="margin: 50px 50px 250px;">
    <div>
        <div class="col-auto">
            <h5>Payment History</h2>
        </div>
        <div class="row col-12">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Payment Type</th>
                    <th>Payment Category</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
                {% for payment in payments %}
                    <tr>
                        {% for entry in payment %}
                            <td>{{entry}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}