<!-- ####### FITNESS MANAGEMENT SYSTEM #######
#################################################### -->

{% extends "base.html" %}
{% block title %}
PERSONAL TRAINING
{% endblock %}
{% block content %}
<!-- code in here to display a list of members-->
<div style="margin: 50px 50px 250px;">
    <div>
        <div class="col-auto">
            <h5>PERSONAL TRAINING</h5>
        </div>
        <div class="col-auto" style="margin:20px 0px;">
            <div class="row">
                <form method="post" action="/training" class="col-12">
                    <label>
                        Trainer:
                        <select name='trainer_id'>
                            <option value="0">All</option>
                            {% for trainer in result.trainerlist %}
                                <option value="{{ trainer[0] }}">{{ trainer[1] + ' ' + trainer[2] }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    <button type="submit" class="btn btn-primary" style="margin:0px 20px;">Search</button>
                </form>
            </div>
        </div>
        <div class="row col-12">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Name</th>
                    <th>Trainer</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Fee</th>
                    <th>
                        {% if session['role'] == 'Admin' or session['role'] == 'Manager' %}
                        <form method="get" action="/addtraining">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                        {% endif %} 
                    </th>
                </tr>
                {% for program in result.programlist %}
                    <tr>
                        <td>{{program[1]}}</td>
                        <td>{{program[2]}}</td>
                        <td>{{program[3]}}</td>
                        <td>{{program[4]}}</td>
                        <td>{{program[5]}}</td>
                        <td>{{program[6]}}</td>
                        <td>
                            {% if session['role'] == 'Admin' or session['role'] == 'Manager' %}
                            <form method="post" action="/viewtrainingdetails"> 
                                <input type="hidden" name="programid" value="{{program[0]}}">
                                <button type="submit"  class="btn btn-primary">Edit</button> 
                            </form>
                            {% elif session['role'] == 'Member': %} 
                              <!-- Button trigger modal -->
                            <button type="button" id="{{program[0]}}enrol" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal{{program[0]}}">
                                Enrol
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{program[0]}}" name="exampleModal{{program[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Payment Details</h1>
                                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form method="post" class="needs-validation" action="/enroltraining">
                                    <div class="modal-body">
                                        <div class="container p-0">
                                            <div class="card px-4">
                                                <div class="row gx-3">
                                                    <div class="col-4"></div>
                                                    <div class="col-2">
                                                        <img class="img-fluid" src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
                                                    </div>
                                                    <div class="col-2">
                                                        <img class="img-fluid" src="https://img.icons8.com/color/48/000000/visa.png" />
                                                    </div>
                                                    <div class="col-4"></div>
                                                    <div class="col-12">
                                                        <label for="cardholdername" class=" text mb-1 form-label">Person Name</label>
                                                        <input class="form-control mb-3" id="name" name="cardholdername" minlength="3" type="text" placeholder="Name" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <label for="cardnumber" class=" text mb-1 mt-2 form-label">Card Number</label>
                                                        <input class="form-control mb-3" id="cardnumber" pattern=".{19,}" maxlength="19" placeholder="xxxx xxxx xxxx xxxx" name="cardnumber" type="text" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <label for="expirydate" class=" text mb-1 mt-2 form-label">Expiry</label>
                                                        <input class="form-control mb-3" id="expirydate" pattern=".{5,}" name="expirydate" type="text" placeholder="MM/YY" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <label for="cvc" class=" text mb-1 mt-2 form-label">CVV/CVC</label>
                                                        <input class="form-control mb-3 pt-2" id="cvc" pattern=".{3,}" name="cvc" type="password" placeholder="***" required>
                                                        <div class="valid-feedback">
                                                            Looks good!
                                                        </div>
                                                    </div>
                                                    <div class="col-6 mt-2 mb-2">
                                                        <div class="d-flex flex-column">
                                                            <input type="hidden" name="trainingid" value="{{program[0]}}">
                                                            <input type="hidden" name="paymentamount" value="{{program[6]}}">
                                                            <button type="submit" id="paytrining"  class="btn btn-primary">Pay ${{program[6]}}</button>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 mt-2 mb-2">
                                                        <div class="d-flex flex-column">
                                                            <button class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                </div>
                                </div>
                            </div>
                            {% endif %}
                        </td>
                        <td>
                            {% if session['role'] == 'Admin' or session['role'] == 'Manager' %}
                            <form method="post" action="/deletepersonaltraining">
                                <input type="hidden" name="programid" value="{{program[0]}}">
                                <button type="submit" class="btn btn-primary">delete</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
(() => {
  'use strict';

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation');

  // submit button
  const submitButton = document.getElementById("paytrining");

  const cardNumber = document.getElementById("cardnumber");
  const expirydate = document.getElementById("expirydate");
  const cvc = document.getElementById("cvc");

  cvc.oninput = (e) => {
    e.target.value = patternMatch({
        input: e.target.value,
        template: "xxx"
    });
};

expirydate.oninput = (e) => {
    e.target.value = patternMatch({
        input: e.target.value,
        template: "xx/xx"
    });
};

  cardNumber.oninput = (e) => {
    e.target.value = patternMatch({
        input: e.target.value,
        template: "xxxx xxxx xxxx xxxx"
    });
};

function patternMatch({ input, template }) {
    try {
        let j = 0;
        let plaintext = "";
        let countj = 0;
        while (j < template.length) {
        if (countj > input.length - 1) {
            template = template.substring(0, j);
            break;
        }

        if (template[j] == input[j]) {
            j++;
            countj++;
            continue;
        }

        if (template[j] == "x") {
            template =
            template.substring(0, j) + input[countj] + template.substring(j + 1);
            plaintext = plaintext + input[countj];
            countj++;
        }
        j++;
        }
        return template;
    } catch {
        return "";
    }
}



  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
  
})();
</script>
{{super()}}
{% endblock %}
